---
import { Button } from "@components/UI/3DButton";

import '../../styles/custom.scss'
import BaseLayout from "@layouts/BaseLayout.astro";
---
<BaseLayout url="/in" title="Dashboard">
    <div class="w-[20rem] duration-300 justify-center flex-col gap-2 h-[20rem] items-center flex mx-auto">
        <button class="btn-3d actions">Create Account</button>
        <Button className="">Hello</Button>
    </div>
</BaseLayout>
