---

---

<nav role="navigation" id="navigation" aria-label="Pagination Navigation" class="flex gap-4 justify-center">
    <button role="link" tabindex="0" id="prev" class="rounded-sm p-1 hover:ring-zinc-700 hover:ring-2 duration-150 hover:shadow-md disabled:text-zinc-700/70">Prev</button>
    <div class="flex">
        <p id="currentPage" class="text-zinc-700 px-1 rounded-sm my-auto">
            1
        </p>
        <p class="text-zinc-700/70 px-1 my-auto rounded-sm">
            of <span id="pageCount"></span>
        </p>
    </div>
    <button role="link" tabindex="0" id="next" class="rounded-sm p-1 hover:ring-zinc-700 hover:ring-2 duration-150 hover:shadow-md disabled:text-zinc-700/70">Next</button>
</nav>

<script src="./pagination"></script>