---
const { title , style = ''} = Astro.props;
---

<div class={`mt-20 mb-10 sm:my-20 flex flex-col ${style}`}>
  <div class="w-fit">
    <p class="font-light text-xl md:text-3xl lg:text-4xl tracking-wider mb-2">{title}</p>
    <div class="w-28 h-1 bg-primary rounded-md"></div>
  </div>
</div>