---
import DefaultHeader from "@components/DefaultHeader.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import JobItem from "@components/JobItems/JobItem.astro";
import type {IJob} from "@util/job.interface";
const url=new URL(Astro.url);
console.log(url.origin)
const jobs = await fetch(`${url.origin}/api/internship.json`)
.then((res) => res.json()) as IJob[];
console.log(jobs);
---

<BaseLayout title="Internships" description="Internships for all MEAN software engineer to start thier career"
url='/internships'>
<DefaultHeader title="Internships within your Hand" description="Almost all the internships for MEAN software engineers in one place"></DefaultHeader>

<div class="flex flex-col-2 grid-auto flex-wrap items-center justify-center sm:mx-20 my-20 gap-4">
        {jobs.map(job=>{
            <JobItem Job={job}/>
        })
        }
</div>


</BaseLayout>
