---
import DefaultHeader from "@components/DefaultHeader.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import Job from "@components/Job.astro";

---

<BaseLayout title="Internships" description="Internships for all MEAN software engineer to start thier career"
url='/internships'>
<DefaultHeader title="Internships within your Hand" description="Almost all the internships for MEAN software engineers in one place"></DefaultHeader>

<div class="flex flex-col-2 grid-auto flex-wrap items-center justify-center sm:mx-20 my-20 gap-4">
    <!-- {result.map(job =>{
        <Job roleJob={job}/>
    })} -->
</div>
</BaseLayout>
