---
import DefaultHeader from "@components/DefaultHeader.astro";
import Navigation from "@components/Navigation.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import Job from "@components/Job.astro";
const url=new URL(import.meta.env.API_URL)
const response= await fetch(`${url.href}get/intern`)
const data= await response.json()
interface Job{
    company:string,
	title:string,
	link:string,
	email:string,
	tags:string,
	type:string,
	deadline:string,
	logo:string,
}

---

<BaseLayout title="Internships" description="Internships for all MEAN software engineer to start thier career"
url='/internships'>
<DefaultHeader title="Internships within your Hand" description="Almost all the internships for MEAN software engineers in one place"></DefaultHeader>

<div class="flex flex-col-2 grid-auto flex-wrap items-center justify-center sm:mx-20 my-20 gap-4">
    {data.map((job:Job)=>{
        <Job roleJob={job} />
    })}
    <!-- <Job company={data[0].company} title="Hi" deadline="20" email="test" logo="/AMZN.png" type="dw" tags="dwqd,react" link="dwd" /> -->
</div>
</BaseLayout>
