---
import Navigation from "@components/Navigation.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
---
<body class="bg-[#2E333B]">
    <div class="flex flex-col sm:flex-row text-center my-40 sm:my-60 items-center place-content-center">
        <img src="/images/404.png" alt="logo" class="w-28 sm:w-80 mx-20">
        <p class="text-lg font-normal text-start text-white lg:text-4xl ">"Hi there,<br>
            I think you hit a link it doesn't work<br>
            so if its something wrong, report an issue" <br>
            <a href="/" class="text-start text-white underline">Juniors jobs</a>
            </p>
            
    </div>
    
</body>

