---
import Heros from "@components/Heros/Heros.astro";
import Rocket from "@components/Icons/Rocket.astro";
import Navigation from "@components/Navigation.astro";
import SectionTitle from "@components/SectionTitle/SectionTitle.astro";
import Baselayout from "@layouts/BaseLayout.astro";

const pathname=Astro.url.pathname
const navigation = [
  {
    name: "Programs",
    href: "/programs",
  },
  // {
  //   name:"Hackathons",
  //   href:"/hackathons"
  // },
  // {
  //   name: "Blog",
  //   href: "/blog",
  // },
  {
    name: "About",
    href: "/about",
  },
]
---
<Baselayout title="Junior Jobs"
description='Internships and Entry-level jobs for all students and fresh-graduates'
url="/about" includeHeader={false}>
  <Navigation  />

  <main class="mx-4 md:mx-10 lg:mx-20">
    <section class="pt-[80px] ">
      <SectionTitle title="Our Heros" style="items-center" />
      <Heros />
    </section>
    <section class="mt-32 grid md:grid-cols-3 items-end gap-2">
      <div class="col-span-2">
        <div>
          <SectionTitle title="Mission" style="items-start"/>
          <p class="text-secondary">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only</p>
        </div>
        <div class="my-8">
          <SectionTitle title="Vision" style="items-start"/>
          <p class="text-secondary">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only</p>
        </div>

      </div>
      <div class="max-md:hidden col-span-1">
        <Rocket />
      </div>
    </section>
  </main>

</Baselayout>