---
import Heros from "@components/Heros/Heros.astro";
import Rocket from "@components/Icons/Rocket.astro";
import SectionTitle from "@components/SectionTitle/SectionTitle.astro";
import Baselayout from "@layouts/BaseLayout.astro";
---
<Baselayout title="Junior Jobs"
description='Internships and Entry-level jobs for all students and fresh-graduates'
url="/about" includeHeader={true}>
  <main class="mx-4 md:mx-10 lg:mx-20">
    <section class="pt-[80px] ">
      <SectionTitle title="Our Heros" style="items-center" />
      <Heros />
    </section>
    <section class="mt-32 grid md:grid-cols-3 items-end gap-2">
      <div class="col-span-2 mx-4 sm:mx-20">
        <div>
          <SectionTitle title="Mission" />
          <p class="-mt-6 sm:-mt-16 text-secondary">Reaching each software engineer, Tech junior in the MEAN region to help them explore all kinds of internships and opportunities, and Trying to empower them to fit the market </p>
        </div>
        <div class="my-8">
          <SectionTitle title="Vision"/>
          <p class="-mt-6 sm:-mt-16 text-secondary">To 100% of university students landed their internship or get hired after graduation within months, It's all depend on them and improving their skill to fit the market, we will trying our best to help them technically, 
            we trust that students with experience are able to help their collages more than 5+ software engineer experience as we are closer to the infletion of being a student and full-time software egineer the same language.</p>
        </div>

      </div>
      <div class="max-md:hidden col-span-1">
        <Rocket />
      </div>
    </section>
  </main>

</Baselayout>