---
import BaseLayout from "@layouts/BaseLayout.astro";
import Modal from "@components/Modal/Modal.astro";
import SearchBar from "@components/Search/SearchBar.astro";
import Loading from "@components/Loader/Loading.astro";
import Pagination from "@components/pagination/Pagination.astro";
---
<style is:global>
  a{
    color: #7fffd4;
  }
  .bullet-indigo::before {
    content: '';
    display: inline-block;
    width: 8px; /* Adjust the size of the circle */
    height: 8px;
    border-radius: 50%;
    background-color: #6366F1; /* Use the color of your URL here */
    margin-right: 8px; /* Adjust the space between the circle and the text */
}
</style>
<BaseLayout
  title="Opportunities"
  description="Opportunities for all MENA software engineer to start thier career"
  url="/opportunities"
>
  <!-- <div class="mt-[6rem]">
    <SearchBar />
  </div> -->
  <div class="flex flex-col mx-4 items-center justify-center h-screen">
    <h1 class="font-bold text-4xl bg-gradient-to-r from-slate-200/80 to-indigo-700/90 text-transparent bg-clip-text">
        We are currently moving to a better solution!
    </h1>
    <ul class="my-5 bg-indigo-300/20 py-6 px-4 hover:bg-indigo-300/10 duration-300 rounded-lg space-y-4">
        <li>
            <span class="bullet-indigo"></span>
            zjunior is a community product that helps juniors find their first step.
        </li>
        <li>
            <span class="bullet-indigo"></span>
            Help us by mentioning <a class="text-[#7fffd4]" href="https://x.com/zjuniosh">@zjuniorsh</a> on Twitter,
            <a class="text-[#7fffd4]" href="https://linkedin.com/company/zjunior">@zjunior</a> on Linkedin
            whenever you meet an Internship or Entry-level Job
        </li>
        <li>
            <span class="bullet-indigo"></span>
            Feel free to reach out <a class="text-[#7fffd4]" href="https://x.com/eitmg">@Kroking</a>,
            <a class="text-[#7fffd4]" href="https://x.com/xaaksw">@xaaksw</a> for collaboration. We believe that we can make it work together!
        </li>
    </ul>
</div>


  <!-- <Loading /> -->
  <!-- <div
  id="jobContainer"
  class="grid grid-flow-row justify-center gap-6 my-10 sm:grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 2xl:grid-cols-4 mx-1 sm:mx-24 invisible"
>
</div> -->
  <!-- <Pagination/> -->
  <!-- <Modal /> -->
</BaseLayout>
<script>
  // import { paging } from "@components/Job/jobComponent.js";
  // paging();
</script>
