---
import BaseLayout from "@layouts/BaseLayout.astro";
import Modal from "@components/Modal/Modal.astro";
import SearchBar from "@components/Search/SearchBar.astro";
import Loading from "@components/Loader/Loading.astro";
import Pagination from "@components/pagination/Pagination.astro";
---

<BaseLayout
  title="Opportunities"
  description="Opportunities for all MENA software engineer to start thier career"
  url="/opportunities"
>
  <div class="mt-[6rem]">
    <SearchBar />
  </div>
  <Loading />
  <div
  id="jobContainer"
  class="grid grid-flow-row justify-center gap-6 my-10 sm:grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 2xl:grid-cols-4 mx-1 sm:mx-24 invisible"
>
</div>

  <Pagination/>
  <Modal />
</BaseLayout>
<script>
  import { paging } from "@components/Job/jobComponent.js";
  paging();
</script>
