---
import BaseLayout from "@layouts/BaseLayout.astro";
import Modal from "@components/Modal/Modal.astro";
import SearchBar from "@components/Search/SearchBar.astro";
import Loading from "@components/Loader/Loading.astro";
import Pagination from "@components/pagination/Pagination.astro";
---
<style>
  a{
    color: aquamarine;
  }
</style>
<BaseLayout
  title="Opportunities"
  description="Opportunities for all MENA software engineer to start thier career"
  url="/opportunities"
>
  <div class="mt-[6rem]">
    <!-- <SearchBar /> -->
  </div>
  <div class="flex flex-col container md:ml-[2rem] xl:ml-[36vw] lg:ml-[4rem] sm:ml-[32rem] items-start justify-center h-[60vh]">
    <h1 class=" font-bold 
    bg-gradient-to-r from-slate-200/80 to-indigo-700/90 text-4xl text-transparent bg-clip-text
    ">We are currently moving to better soultion ! 
    </h1>
    <ul class="my-5 bg-indigo-300/20 py-6 px-4 hover:bg-indigo-300/10 duration-300 rounded-lg space-y-4">
      <li>zjunior is a community product that helps juniors find their first step.</li>
      <!-- <li>- Public roadmap for the zjunior coming soon!</li> -->
      <li>Help us by mentioning the zjunior on <a href="https://x.com/zjuniosh">@twitter</a>, <a href="https://linkedin.com/company/zjunior">@linkedin</a><br>  whenever you meet Internship or Entrylevel Job</li>
      <li>Feel free to reach out <a href="https://x.com/eitmg">@Kroking</a> , <a href="https://x.com/xaaksw">@xaaksw</a> for collaboration we belive that we can make it work together !</li>
    </ul>
  </div>
  <!-- <Loading /> -->
  <!-- <div
  id="jobContainer"
  class="grid grid-flow-row justify-center gap-6 my-10 sm:grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 2xl:grid-cols-4 mx-1 sm:mx-24 invisible"
>
</div> -->
  <!-- <Pagination/> -->
  <!-- <Modal /> -->
</BaseLayout>
<script>
  // import { paging } from "@components/Job/jobComponent.js";
  // paging();
</script>
