---

import Baselayout from "@layouts/BaseLayout.astro";
import Button from "@components/Button.astro";
---

<Baselayout title="Opportunities for students"
description='Internships and entrylever jobs for all students and fresh-graduates'
url="/">

<div class="flex flex-col gap-8 pb-8 md:gap-16 md:pb-16 xl:pb-24">
  <div class="flex flex-col items-center justify-center max-w-3xl px-8 mx-auto mt-8 sm:min-h-screen sm:mt-0 sm:px-0">
    <div>
      <h1 class="py-4 text-5xl font-bold tracking-tight text-center text-transparent bg-gradient-to-t bg-clip-text from-zinc-400 to-slate-700 sm:text-7xl">
        Gain your work experience now
      </h1>
      <p class="mt-6 leading-5 text-zinc-600 sm:text-center">
        We have collected the Software engineering related programs, jobs and internships in a one place, stop searching just <span class="font-bold text-lg">apply</span>.
      </p>
      <div class="flex flex-col justify-center gap-4 mx-auto mt-8 sm:flex-row sm:max-w-lg ">
        <a
          href="/internships"
          class="sm:w-1/2 sm:text-center inline-block space-x-2 rounded px-4 py-1.5 md:py-2 text-base font-semibold leading-7 text-white  bg-slate-600 ring-1  hover:bg-white hover:text-zinc-900 duration-150 hover:ring-slate-800 hover:drop-shadow-cta"
        >
          Internships
        </a>
        <a
          href="/entry"
          class="sm:w-1/2 sm:text-center inline-block transition-all space-x-2  rounded px-4 py-1.5 md:py-2 text-base font-semibold leading-7 bg-zinc-400 text-slate-200 ring-1 ring-transparent hover:text-zinc-100 hover:ring-zinc-100  hover:bg-slate-600 duration-150 hover:drop-shadow-cta"
        >
          Entry Level
        </a>
      </div>
    </div>
  </div>

</div>



</Baselayout>

