---
import Issues from "@components/React/Form/Issues";
import DropColor from "@components/UI/dropColor.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import CustomTransition from "@layouts/CustomTransition.astro";

---
<CustomTransition slot="transition"/>
<BaseLayout title="zJunior - Report Issue" description="Report issue that you have faced using zJunior" url="/issue">  
    <DropColor/>
    <div class="relative min-h-screen mx-5 sm:mx-20 pt-24 pb-8 sm:pt-20 sm:pb-0 flex flex-col lg:flex-row items-center justify-center gap-8 lg:gap-40 xl:gap-60" >
        <section class="flex items-center justify-start">
            <div class="lg:max-w-xs">
                <h1 class="font-bold text-3xl my-2">Report a Problem</h1>
                <p>We're committed to provide you with the best possible experience on Zjunior. If you encounter any issues or problems while using our platform, we want to hear about it. Your feedback help us improve and ensure a smooth browsing and job search experience for everyone.</p>
            </div>
    
        </section>
        <section >
            <div class="flex items-center justify-center mx-auto">
                <div class="flex w-full rounded-2xl bg-gradient-to-bl from-accent/50 via-primary/60 to-accent/50 p-[2px]">
                    <div class="flex flex-col h-full rounded-2xl items-center gap-[2.625rem] bg-background pt-8 px-8 sm:px-20">
                        <Issues client:load/>
                    </div>
                </div>
              </div>
        </section>
    </div>
    

</BaseLayout>
