---
import BaseLayout from "@layouts/BaseLayout.astro";
import Newsletter from "@components/newsletter/Newsletter.astro";
---

<BaseLayout title="Newsletter" url="/newsletter" description="JuniorJobs Newsletter to get all your jobs updates within your email" includeHeader={true} >
<div class="my-40 flex justify-center">
    <Newsletter />
</div>
</BaseLayout>