---
import BaseLayout from "@layouts/BaseLayout.astro";
import Programs from "@components/programs/Programs.astro";
import SectionTitle from "@components/SectionTitle/SectionTitle.astro";
import LeftArrow from "@components/Icons/LeftArrow.astro";
import RightArrow from "@components/Icons/RightArrow.astro";
---

<BaseLayout title="Programs" url="/programs" 
keywords={["open-source", "opensource" ,"work","internships","google summer of code","gsoc","MLH"]} 
includeHeader={true}>
<SectionTitle title="Programs that will improve your skills" style="max-sm:pt-20 items-center"/>
<div class="flex justify-center overflow-visible">
<div id="scrollable" class="flex justify-start w-[24rem] overflow-scroll snap-x snap-center">
    <section class="flex mt-[40px] pl-[24px] pr-[24px] ">
        <Programs/>
    </section>
</div>
</div>
<div class="flex justify-evenly mt-4">
<button id="to-left" class="px-2 py-2 border-2 hover:border-primary rounded-full duration-150"><LeftArrow/></button>
<button id="to-right" class="px-2 py-2 border-2 hover:border-primary rounded-full duration-150"><RightArrow/></button>
</div>
<script is:inline>
    const scrollable = document.getElementById('scrollable');
    const toLeft = document.getElementById('to-left');
    const toRight = document.getElementById('to-right');
    const program = document.querySelectorAll('#program');
    window.addEventListener('load', init);
    function init(){
        if(window.matchMedia('(max-width: 600px)')){
        program[0].classList.add('scale-105');
    }
    else{
        program[0].classList.add('scale-110');
    }
    program[0].classList.remove('opacity-70');
    }
    
    function reset(){
        program.forEach((item) => {
            item.classList.add('opacity-70');
            item.classList.remove('scale-110'||'scale-105');
        });
    }
    function foucs(){

    }
    toLeft.addEventListener('click', () => {
        if(scrollable.scrollLeft <= 0 ){
            scrollable.scrollTo({
                left: scrollable.scrollWidth,
            });
            reset();
        }
        else{
            scrollable.scrollBy({
            left: -330,
            behavior: "smooth"
        })
        focus();
        }
    });
    toRight.addEventListener('click', () => {
        if(scrollable.scrollLeft >= 2000 ){
            scrollable.scrollTo({
                left: 0,
            });
            reset();
        }
        else{
            scrollable.scrollBy({
            left: 330,
            behavior: "smooth"
        });
        focus();
        }
    });
</script>
</BaseLayout>
