---
import BaseLayout from "@layouts/BaseLayout.astro";
import Programs from "@components/programs/Programs.astro";
import SectionTitle from "@components/SectionTitle/SectionTitle.astro";
---

<BaseLayout title="Programs" url="/programs" 
keywords={["open-source", "opensource" ,"work","internships","google summer of code","gsoc","MLH"]} 
includeHeader={true}>
<SectionTitle title="Programs that will improve your skills" style="items-center"/>
<main class="flex justify-center hover:scroll-auto w-full overflow-scroll scroll-px-20">
    <section class="pt-[40px] ">
        <Programs/>
    </section>
</main>

</BaseLayout>
