---
import BaseLayout from "@layouts/BaseLayout.astro";
import Programs from "@components/programs/Programs.astro";
import SectionTitle from "@components/SectionTitle/SectionTitle.astro";
import LeftArrow from "@components/Icons/LeftArrow.astro";
import RightArrow from "@components/Icons/RightArrow.astro";
---

<BaseLayout title="Programs" url="/programs" 
keywords={["open-source", "opensource" ,"work","internships","google summer of code","gsoc","MLH"]} 
includeHeader={true}>
<SectionTitle title="Programs that will improve your skills" style="max-sm:pt-20 items-center"/>
<div class="flex justify-center">
<div id="scrollable" class="flex justify-start w-[24rem] overflow-hidden snap-x snap-center">
    <section class="flex mt-[40px] pl-[24px] pr-[24px] ">
        <Programs/>
    </section>
</div>
</div>
<div class="flex justify-evenly mt-4">
<button id="to-left" class="px-2 py-2 border-2 hover:border-primary rounded-full duration-150"><LeftArrow/></button>
<button id="to-right" class="px-2 py-2 border-2 hover:border-primary rounded-full duration-150"><RightArrow/></button>
</div>
<script is:inline>
    const scrollable = document.getElementById('scrollable');
    const toLeft = document.getElementById('to-left');
    const toRight = document.getElementById('to-right');
    const program = document.querySelectorAll('#program');
    const cardSize= program.length;
    let currentProgram=0;
    window.addEventListener('load', init);
    function init(){
        program[0].classList.add('sm:scale-110','scale-105');
        scrollable.scrollTo(0,0)
        program[0].classList.remove('opacity-70');
    }
    function focus(id,from){
        if(from=='left'){
            PrevRest(id+1);
        }
        else if(from=='right'){
            PrevRest(id-1);
        }
        else if(from=='init'){
            PrevRest(id);
        }
        if(id >= cardSize){
            currentProgram=0;
            id=0;
        }
        else if(id < 0){
            currentProgram=cardSize-1;
            id=cardSize-1;
        }
        program[id].classList.remove('opacity-70');
        program[id].classList.add('sm:scale-110','scale-105');
    }
    function PrevRest(id){
        program[id].classList.add('opacity-70');
        program[id].classList.remove('sm:scale-110','scale-105');
    }
    
    toLeft.addEventListener('click', () => {
        if(scrollable.scrollLeft <= 0 ){
            scrollable.scrollTo({
                left: scrollable.scrollWidth,
            });
            currentProgram=cardSize-1;
            focus(cardSize-1,'init')
        }
        else{
            scrollable.scrollBy({
            left: -330,
            behavior: "smooth"
            
        })
        focus(--currentProgram,'left');
        }
        console.log(currentProgram)
    });
    toRight.addEventListener('click', () => {
        if(scrollable.scrollLeft >= 2000 ){
            scrollable.scrollTo({
                left: 0,
            });
            currentProgram=0;
            focus(0,'init')
        }
        else{
            scrollable.scrollBy({
            left: 330,
            behavior: "smooth"
        });
        focus(++currentProgram,'right');
        }
        console.log(currentProgram)

    });
    
</script>
</BaseLayout>
