---
import BaseLayout from "@layouts/BaseLayout.astro";
import Programs from "@components/programs/Programs.astro";
import SectionTitle from "@components/SectionTitle/SectionTitle.astro";
---

<BaseLayout title="Programs" url="/programs" 
keywords={["open-source", "opensource" ,"work","internships","google summer of code","gsoc","MLH"]} 
includeHeader={true}>
<SectionTitle title="Programs that will improve your skills" style="items-center"/>
<div class="flex justify-center ">
<div class="my-10 w-[90%] overflow-scroll snap-x scroll-pl-60">
    <section class="flex pt-[40px]">
        <Programs/>
    </section>
</div>
</div>
</BaseLayout>
