---
import BaseLayout from "@layouts/BaseLayout.astro";
import Programs from "@components/programs/Programs.astro";
import SectionTitle from "@components/SectionTitle/SectionTitle.astro";
---

<BaseLayout title="Programs" url="/programs" 
keywords={["open-source", "opensource" ,"work","internships","google summer of code","gsoc","MLH"]} 
includeHeader={true}>
<SectionTitle title="Programs that will improve your skills" style="max-sm:pt-20 items-center"/>

<div class="flex justify-start w-full overflow-scroll snap-x scroll-pl-60 scroll-pr-60">
    <section class="flex mt-[40px] pl-[24px] pr-[24px] ">
        <Programs/>
    </section>
</div>
</BaseLayout>
