---
import Newsletter from "@components/newsletter/Newsletter.astro";
import Baselayout from "@layouts/BaseLayout.astro";

---

<div class="sm:grid flex">
    <section class="flex items-center m-auto bg-[#2E333B] sm:w-full w-[50%] h-screen">
        <div class="flex mx-auto items-center">
            <img src="/images/logo.png" alt="Logo" class="w-[10rem]">
            <span class="w-1 h-10 bg-white mx-4"></span>
            <h1 class="text-white text-5xl font-serif font-semibold">zJunior</h1>
        </div>
    </section>
    <section class=" flex mx-auto justify-center bg-white h-screen">
        <div class="scale-150 flex flex-col my-auto justify-center items-center">
            <h1 class="text-black justify-start text-5xl font-semibold mb-10">Welcome</h1>
            <p class="text-black text-1xl mb-4 w-[32rem] text-center">Since our opening, we have become masters of our craft. our commitment to quality products, exceptional services and Incomparable customer care keep our community coming back again and again.</p>    
            <ul class="flex gap-10">
                <a href="https://github.com/zjunior-infra" class="underline text-blue-600" target="_blank">Github</a>
                <a href="https://twitter.com/zjuniorsh" class="underline text-blue-600" target="_blank">Twitter</a>
                <a href="mailto:hi@zjunior.com" class="underline text-blue-600" target="_blank">hi@zJunior.com</a>
            </ul>
            <Newsletter/>
         </div>
    </section>
</div>



