---
import Modal from "@components/Modal/Modal.astro";
import SectionTitle from "@components/SectionTitle/SectionTitle.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
const test="test";
---

<BaseLayout title="Programs" url="/programs" 
keywords={["open-source", "opensource" ,"work","internships","google summer of code","gsoc","MLH"]} 
includeHeader={true}>
<SectionTitle title="Programs that will improve your skills" style="max-sm:pt-20 items-center"/>
{ <button onclick="openModal(test)">dsadsad</button>}
<h1 class="mx-4 mt-8 text-center text-lg text-secondary">If we are missing a program you can submit an 
    <a href="https://github.com/Mahmoudgalalz/JuniorJobs/issues" target="_blank" class="underline hover:text-primary">Issue</a>
</h1>
<Modal></Modal>
</BaseLayout>