---
import BaseLayout from "@layouts/BaseLayout.astro";
import Newsletter from "@components/newsletter/Newsletter.astro";
---

<BaseLayout includeHeader={true} title="Newsletter" url="/newsletter" description="JuniorJobs Newsletter to get all your jobs updates within your email" includeHeader={true} >
    <div class="my-40 flex flex-col gap-2 items-center justify-center">
        <h1 class="text-center sm:w-[57rem] w-[20rem] max-sm:text-xl font-extrabold text-5xl text-primary-foreground">Join the waitlist and stay tunned for the rain of opportunities that's suits you</h1>
        <p class="text-white mb-10 mx-2 text-center">By joining the waitlist you will have an early access to our v2 Beta release and the new features</p>
        <Newsletter />
    </div>
</BaseLayout>