---

---

<footer class="bottom-0 border-t inset-2x-0 border-zinc-500/10">
  <div class="flex flex-col gap-1 px-6 py-12 mx-auto text-xs text-center text-zinc-700 max-w-7xl lg:px-8">
    <p>
      Built by{" "}
      <a href="https://twitter.com/eitmg" class="font-semibold duration-150 hover:text-zinc-200">
        @mahmoudgalalz
      </a>
      and{" "}
      <a
        href="https://github.com/mahmoudgalalz/juniorjobs/graphs/contributors"
        class="underline duration-150 hover:text-zinc-200"
      >
        many others{" "}
      </a>
    </p>
    <p>
      JuniorJobs is deployed on{" "}
      <a target="_blank" href="https://pages.cloudflare.com/" class="underline duration-150 hover:text-zinc-200">
        Cloudflare Pages
      </a>{" "}
      and Built with
      <a target="_blank" href="https://astro.build/" class="underline duration-150 hover:text-zinc-200">
      {" "} Astro
      </a>
    </p>
  </div>
</footer>