---

---

<footer class="bg-[#0374E2] mt-6">
  <div class="flex flex-col gap-1 px-6 pt-14 pb-4 mx-auto text-white max-w-7xl lg:px-8">
    
      <ul class="flex flex-row ">
        <li class="mx-1">
          <a target="_blank" href="https://github.com/mahmoudgalalz/juniorjobs">
          <img class="w-5" src="/images/AMZN.png">
          </a>
        </li>
        <li class="mx-1">
          <a target="_blank" href="https://github.com/mahmoudgalalz/juniorjobs">
          <img class="w-5" src="/images/AMZN.png">
          </a>
        </li>
        <li class="mx-1">
          <a target="_blank" href="https://github.com/mahmoudgalalz/juniorjobs">
          <img class="w-5" src="/images/AMZN.png">
          </a>
        </li>
      </ul>
      
    <hr class="mt-6 bg-white/50 border-transparent border-1 rounded-md">
    <div class="flex mt-6 gap-12 text-sm font-normal ">
      <div class="flex flex-col">
        <a href="/" class="my-2 duration-150 hover:text-zinc-600">Home</a>
        <a href="/about" class="my-2 duration-150 hover:text-zinc-600">About</a>
        <a href="/programs" class="my-2 duration-150 hover:text-zinc-600">Programs</a>
      </div>
      <div class="flex flex-col">
        <a href="https://github.com/mahmoudgalalz/juniorjobs" class="my-2 duration-150 hover:text-zinc-600">GitHub</a>
        <a href="/Listers" class="my-2 duration-150 hover:text-zinc-600">Listers</a>
      </div>
      
    </div>
    <div class="flex flex-col mt-4 leading-5 mx-auto text-center font-light text-xs">
      <p>
        Built by{" "}
        <a href="https://twitter.com/eitmg" class="font-semibold duration-150 hover:text-zinc-600">
          @mahmoudgalalz
        </a>
        <a href="/about" class="underline duration-150 hover:text-zinc-600">
          ,JuniorJobs team
        </a>
         ,and{" "}
        <a
          href="https://github.com/mahmoudgalalz/juniorjobs/graphs/contributors"
          class="underline duration-150 hover:text-zinc-600"
        >
          many others{" "}
        </a>
      </p>
      <p>
        JuniorJobs is deployed on{" "}
        <a target="_blank" href="https://pages.cloudflare.com/" class="underline duration-150 hover:text-zinc-600">
          Cloudflare Pages
        </a>{" "}
        and Built with
        <a target="_blank" href="https://astro.build/" class="underline duration-150 hover:text-zinc-600">
        {" "} Astro
        </a>
      </p>
    </div>
  </div>
</footer>