<div class='flex items-center justify-center min-h-screen my-6' id="loader">
    <div style="border-top-color:transparent" class="w-8 h-8 border-4 border-blue-200 rounded-full animate-spin"></div>
    <p class="ml-2">Looking for the opportunities...</p>
</div>
