---
const navigation = [
  {
    name: "Programs",
    href: "/programs",
  },
  {
    name: "GitHub",
    href: "https://github.com/mahmoudgalalz/juniorjobs",
    external: true,
  },
  {
    name: "About",
    href: "/about",
  },
]
const pathname=Astro.url.pathname
---


<header class="top-0 z-30 w-full px-4 sm:fixed backdrop-blur bh-zinc-900/50">
  <div class="container mx-auto">
    <div class="flex flex-col items-center justify-between gap-2 pt-6 sm:h-20 sm:flex-row sm:pt-0">
      <a href="/" class="text-2xl font-semibold duration-150 text-slate-700 hover:text-zinc-500">
        Junior Jobs
      </a>
      {/* Desktop navigation */}
      <nav class="flex items-center grow">
        <ul class="flex flex-wrap items-center justify-end gap-4 grow">
          {navigation.map((item) => (
            <li class="">
              <a
                class={`flex items-center px-3 py-2 duration-150 text-sm sm:text-base  hover:text-zinc-400
                ${pathname === item.href ? "text-zinc-500" : "text-zinc-800"}`}
                href={item.href}
                target={item.external ? "_blank" : undefined}
                rel={item.external ? "noopener noreferrer" : undefined}
              >
                {item.name}
              </a>
            </li>
          ))}
        </ul>
      </nav>
    </div>
  </div>

  {/* Fancy fading bottom border */}
</header>



