---
const navigation = [
{
    name: "Opportunities",
    href: "/opportunities",
  },
  {
    name: "Programs",
    href: "/programs",
  },
  // {
  //   name:"Hackathons",
  //   href:"/hackathons"
  // },
  // {
  //   name: "Blog",
  //   href: "/blog",
  // },
  {
    name: "About",
    href: "/about",
  },
]
const pathname=Astro.url.pathname
---

<header class="top-0 z-30 w-full px-1 xs:px-4 bg-white shadow-lg fixed sm:static">
  <div class="container mx-auto">
    <div class="flex flex-col items-center justify-between gap-2 pt-6 sm:h-20 sm:flex-row sm:pt-0">
      <img src="/images/logo.png" alt="Logo" class="w-9">
      <a href="/" class="text-sm font-medium duration-150 text-zinc-600  hover:text-zinc-600/70">
        Junior Jobs
      </a>
      {/* Desktop navigation */}
      <nav class="flex items-center grow">
        <ul class="flex flex-wrap items-center justify-end sm:gap-4 grow">
          {navigation.map((item) => (
            <li class="">
              <a
                class={`flex items-center px-2 xs:px-3 py-2 duration-150 text-sm text-zinc-600  hover:text-zinc-600/70
                ${pathname === item.href ? "text-blue-600" : "text-zinc-700"}`}
                href={item.href}
                // target={item.external ? "_blank" : undefined}
                // rel={item.external ? "noopener noreferrer" : undefined}
              >
                {item.name}
              </a>
            </li>
          ))}
        </ul>
      </nav>
    </div>
  </div>
</header>




