---
const {prevUrl, nextUrl, currentPage,lastPage} = Astro.props
---

<nav role="navigation" aria-label="Pagination Navigation" class="flex gap-4 justify-center">
    {
        prevUrl && (
            <a href={prevUrl} class="rounded-sm hover:ring-zinc-700 hover:ring-2 duration-150 hover:shadow-md">Prev</a>
        )
    }    
    {
        !prevUrl && (
            <p class="text-zinc-700/70 rounded-sm">
                Prev
            </p>
        )
    }
    <div class="flex">
        {
            currentPage && (
                <p class="text-zinc-700 px-2 rounded-sm">
                    {currentPage}
                </p>
            )
        }
        {
            lastPage && (
                <p class="text-zinc-700/70 px-2 rounded-sm">
                    of <span class="pl-2">{lastPage}</span>
                </p>
            )
        }
    </div>
    

    {
        !nextUrl && (
            <p class="text-zinc-700/70  rounded-sm">
                    Next
            </p>
        )
    }
    {
        nextUrl && (
                <a href={nextUrl} class="rounded-sm hover:ring-zinc-700 hover:ring-2 duration-150 hover:shadow-md">Next</a>
            )
    }
        
</nav>