---
import skills from "@util/skills";
import "./SearchBar.css";
---

<div class="flex mx-[20rem]">
  <div id='search-tags' class="flex flex-row gap-4">
  </div>
</div>
<script>
  import './filtersTags.ts'
  
</script>
