---
import skills from "@util/skills";
import "./SearchBar.css";
---

<div class="flex mx-[10rem] max-sm:mx-8">
  <div id='search-tags' class="flex lg:flex-wrap gap-4 overflow-auto">
  </div>
</div>
<script>
  import './filtersTags.ts'
  
</script>
