---
import Program from '@components/programs/Program.astro'
const programs=[
    {
        name:"Google Summer of Code",
        discription:"Google Summer of Code is a global, online program focused on bringing new contributors into open source software development. GSoC Contributors work with an open source organization on a 12+ week programming project under the guidance of mentors.",
        link:"https://summerofcode.withgoogle.com/",
        starts:"20 March",
        img:"https://dev-to-uploads.s3.amazonaws.com/uploads/articles/t677ay2ki3x7dayday86.png"
    },
    {
        name:"Google Summer of Code",
        discription:"Google Summer of Code is a global, online program focused on bringing new contributors into open source software development. GSoC Contributors work with an open source organization on a 12+ week programming project under the guidance of mentors.",
        link:"https://summerofcode.withgoogle.com/",
        starts:"20 March",
        img:"https://dev-to-uploads.s3.amazonaws.com/uploads/articles/t677ay2ki3x7dayday86.png"
    },
    // {
    //     name:"Google Summer of Code",
    //     discription:"Google Summer of Code is a global, online program focused on bringing new contributors into open source software development. GSoC Contributors work with an open source organization on a 12+ week programming project under the guidance of mentors.",
    //     link:"https://summerofcode.withgoogle.com/",
    //     starts:"20 March",
    //     img:"https://dev-to-uploads.s3.amazonaws.com/uploads/articles/t677ay2ki3x7dayday86.png"
    // },
    // {
    //     name:"Google Summer of Code",
    //     discription:"Google Summer of Code is a global, online program focused on bringing new contributors into open source software development. GSoC Contributors work with an open source organization on a 12+ week programming project under the guidance of mentors.",
    //     link:"https://summerofcode.withgoogle.com/",
    //     starts:"20 March",
    //     img:"https://dev-to-uploads.s3.amazonaws.com/uploads/articles/t677ay2ki3x7dayday86.png"
    // },
    // {
    //     name:"Google Summer of Code",
    //     discription:"Google Summer of Code is a global, online program focused on bringing new contributors into open source software development. GSoC Contributors work with an open source organization on a 12+ week programming project under the guidance of mentors.",
    //     link:"https://summerofcode.withgoogle.com/",
    //     starts:"20 March",
    //     img:"https://dev-to-uploads.s3.amazonaws.com/uploads/articles/t677ay2ki3x7dayday86.png"
    // },
    // {
    //     name:"Google Summer of Code",
    //     discription:"Google Summer of Code is a global, online program focused on bringing new contributors into open source software development. GSoC Contributors work with an open source organization on a 12+ week programming project under the guidance of mentors.",
    //     link:"https://summerofcode.withgoogle.com/",
    //     starts:"20 March",
    //     img:"https://dev-to-uploads.s3.amazonaws.com/uploads/articles/t677ay2ki3x7dayday86.png"
    // }
]
---

<div class="flex gap-8 overflow-x-scroll justify-items-center ">
    {
        programs.map((program)=>{
            return <Program {...program} />
        })
    }
</div>