---
const { name,discription,link,starts,img } = Astro.props
---
<div class="bg-white shadow-lg rounded-md w-60">
    <div class="object-cover object-center">
        <img src={img} alt="Header Image" class="h-36 w-60 rounded-t-md border-[1px] border-primary">
    </div>
    <div class="text-start mx-6 my-4">
        <p class="font-bold text-[10px] text-secondary">Description</p>
        <p class="my-4 text-[8px]">Google Summer of Code is a global, online program focused on bringing new contributors into open source software development. GSoC Contributors work with an open source organization on a 12+ week programming project under the guidance of mentors.</p>
    </div>
</div>